.register-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.back-arrow {
    align-self: flex-start;
    margin: 1vh 0 0 1vh;
}

.register-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 72px;
}

.subheader {
    margin-top: -10px;
    font-size: 36px;
    color: darkgray;
}
