

table {
    border-collapse: collapse;
    width: 98vw;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.row:hover {
    background-color: gray;
}

.row-light {
    background-color: lightgray;
}

.row-dark {
    background-color: darkgray;
}
